.italicize {
  font-style: italic;
}

.center {
  text-align: center;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-header {
  margin-bottom: -15px;
}
